<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.TodoMapper">

    <!-- resultMapの定義 -->
    <resultMap id="todoResultMap" type="com.example.demo.entity.Todo">
        <id property="id" column="id"/>
        <result property="task" column="task"/>
        <result property="completed" column="completed"/>
        <association property="plan" column="plan_id" javaType="com.example.demo.entity.Plan"
                     select="com.example.demo.repository.PlanMapper.selectPlanById"/>
    </resultMap>

    <!-- 新しいTodoアイテムを挿入するSQL文 -->
    <insert id="insertTodo" parameterType="com.example.demo.entity.Todo">
        INSERT INTO Todo (task, completed, plan_id)
        VALUES (#{task}, #{completed}, #{plan.id})
    </insert>

    <!-- 指定されたIDのTodoアイテムを取得するSQL文 -->
    <select id="selectTodoById" parameterType="int" resultMap="todoResultMap">
        SELECT * FROM Todo WHERE id = #{id}
    </select>

    <!-- すべてのTodoアイテムを取得するSQL文 -->
    <select id="selectAllTodos" resultMap="todoResultMap">
        SELECT * FROM Todo
    </select>

    <!-- 指定されたTodoアイテムの情報を更新するSQL文 -->
    <update id="updateTodo" parameterType="com.example.demo.entity.Todo">
        UPDATE Todo
        SET task = #{task},
            completed = #{completed},
            plan_id = #{plan.id}
        WHERE id = #{id}
    </update>

    <!-- 指定されたIDのTodoアイテムを削除するSQL文 -->
    <delete id="deleteTodoById" parameterType="int">
        DELETE FROM Todo WHERE id = #{id}
    </delete>
    
    <!-- 指定された旅行プランIDに関連するTodoアイテムを取得するSQL文 -->
    <select id="selectTodosByPlanId" parameterType="int" resultMap="todoResultMap">
        SELECT t.*, p.*
        FROM Todo t
        LEFT JOIN Plan p ON t.plan_id = p.id
        WHERE t.plan_id = #{planId}
        ORDER BY t.id;
    </select>

</mapper>
