<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.UserMapper">

    <!-- ユーザーを新規に追加 -->
    <insert id="insertUser" parameterType="com.example.demo.entity.User">
        INSERT INTO users (email, password, displayname)
        VALUES (#{email}, #{password}, #{displayname});
    </insert>

    <!-- ユーザーIDでユーザーを選択 -->
    <select id="selectUserById" resultType="com.example.demo.entity.User">
        SELECT id, email, password, displayname
        FROM users
        WHERE id = #{id};
    </select>

    <!-- メールアドレスでユーザーを選択 -->
    <select id="findByEmail" parameterType="String" resultType="com.example.demo.entity.User">
        SELECT id, email, password, displayname
        FROM users
        WHERE email = #{email};
    </select>

    

</mapper>
